<!DOCTYPE html>

<!--
  Hot Cocoa - Hebe Huang, Josephine Lee, Annabel Zhang, Han Zhang
  SoftDev
  P00 -- Cafe of Stories
  2021-10-27

  Rice Krispies Box - Renggeng Zheng, Oscar Wang
  Softdev
  K20 - CSSifying for Someone Else
  2021-11-29
 -->


<html>
	<head>
		<title> Create New Story </title>
		<link rel="stylesheet" href="static/styles/stylesheet.css"/>
	</head>

	<h2>
		{{status}}
	</h2>

	<h4>
		Enter the new story's title and content.
	</h4>

	<form action="/auth" method = 'POST'>
		Title: <input class="textfield2" type="text" name="title" placeholder="Enter a Title">
		<br>
		Content: <br>
		<textarea class="textfield3" id="content" name="content" rows="4" cols="50">{{story}}</textarea>
		<!--<input type="text" name="content" size="100"> -->
		<br>
		<button class="butt2" type="submit" formaction="/uploadNewStory"> Add new story </button>
		<br>
		<button class="butt1" type="submit" formaction="/"> Home </button>
	</form>

</html>
