<!DOCTYPE html>

<!--
	Hot Cocoa - Hebe Huang, Josephine Lee, Annabel Zhang, Han Zhang
	SoftDev
	P00 -- Cafe of Stories
	2021-10-27
 -->

<html>

	<head>
		<title> LOGIN PAGE </title>
		<link rel="stylesheet" href="static/styles/stylesheet.css"/>
	</head>

	<body class="login">
		<h1>
			{{status}}
		</h1>
		<h2>
			Cafe of Stories
		</h2>

		<h4>
			Enter your username and password below to proceed
		</h4>
		<h5>
			(Username must begin with a letter)
		</h5>
		<form action="/auth" method = 'POST'>
			<input class="textfield1" type="text" name="username" placeholder="Username"> 
			<br>
			<input class="textfield1" type="password" name="password" placeholder="password">
			<br>
			<button class="butt1" type="submit" formaction="/auth"> Login </button>
			<br>
			<button class="butt1" type="submit" formaction="/signup"> Signup </button>
		</form>
		<br>
	</body>

</html>
